body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;

    background-color: white;

    width: 100%;
    height: 100%;
    font-family: quicksand;
}

#members_title {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;

    color: darkblue;
}

#members_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-align: center;

    background-color: black;

    cursor: pointer;
    
}

.members {
    display: flex;
    flex-direction: column;

    text-align: left;
    
    /* padding: 50px; */
    padding: 30px;
    background-color: #525252;

    gap: 20px;

    color: white;

    border-radius: 6px;
}

.member {
    display: flex;
    flex-direction: row;
    
    gap: 20px;
}

.member_right {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 400;
}

.members img {
    border-radius: 50%;
    width: 100px;
    height: 100px;

    border: 1px solid black;
}

#countdown {
    visibility: visible;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.member_name {
    font-size: 30px;
    font-weight: bold;
}

#countdown_num {
    color: rgb(192, 134, 207);
    text-align: center;
    font-size: 140px;

    font-weight: normal;
}


#gameArea {
    display: none;
    position: relative;
    /* width: 60%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 60%;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#hiScore {
    text-box: trim-both cap alphabetic;
    /* I took this code from: */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-box-trim */
    font-size: 50px;
}

#normalScore {
    text-box: trim-both cap alphabetic;
    /* I took this code from: */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-box-trim */
    color: lightgreen;
    font-size: 100px;
}

#timeRemaining {
    text-box: trim-both cap alphabetic;
    /* I took this code from: */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-box-trim */
    color: red;
    font-size: 50px;
}

#gameGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#hintMessage {
    position: absolute;
    top: 100px;
    font-size: 30px;
    color: yellowgreen;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; /* https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
    font-weight: bold;
    /* display: none; */
}

.gridRow {
    display: flex;
    flex-direction: row;
}

.square {
    margin: -1px 0px 0px -1px;
    border: 1px solid #4e4e4e;
    width: 80px;
    height: 80px;
    background-color: transparent;
    transition: background-color 200ms ease-out;
}

.selected {
    background-color: black;
}

.hit {
    background-color: green;
    animation: hitFade 250ms ease-out;
}

@keyframes hitFade {
    0% {
        background-color: green;
    }
    100% {
        background-color: white;
    }
}

#scoreBarBottom {
    width: 200px;
    height: 10px;
    background-color: blue;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid black;
    /* position: relative; */
}

#scoreBottom {
    width: 200px;
    height: 10px;
    background-color: cyan;
    transition: width 0.1s linear;
}

.score-pop {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    pointer-events: none;
    user-select: none;
    color: gray;
    transform: translate(-50%, -50%);
    animation: popUp 600ms ease-out;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -20%);
    }
    15% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -120%);
    }
}

#pressF5 {
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
    color: #333;
    opacity: 0;
    transform: scale(1);
    transition: opacity 300ms ease;
}

#pressF5.show {
    opacity: 1;
    animation: pulse 1.2s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

#endTextSection {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    max-width: 320px;
    text-align: center;
    font-size: 80px;
    color: red;
    text-shadow: 18px 18px 8px rgba(0, 0, 0, 1);

    display: none;
}
